body {
    font-family: 'Cairo', sans-serif;
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
}
header {
    background: linear-gradient(90deg, #00e4e8, #0077ff);
    color: #111;
    font-size: large;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    padding: 1rem;
    text-align: center;
    border-radius: 0 0 15px 15px;
}

  
.day {
    background-color: #1b1b1b;
    border-radius: 10px;
    margin: 1rem 0;
    text-align: center;
    font-size: 1rem;
    border: 2px solid gray;
    padding: 0.8rem 0.5rem;
}

.day.active {
    border: 2px solid #00e4e8;
    background-color: #2d3d3f;
}



footer {
    background-color: rgb(0,0,0,0.6) ;
    text-align: center;
    color: aliceblue;
    padding: 1%;
    bottom: 0;
    margin: -0.5rem;
}
.short {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgb(0,0,0,0.2);
    border-radius: 2rem;
    margin-inline: 10rem;
    
}

.task {
    color: rgb(0, 228, 232);
}

@media (max-width: 768px) {
    header {
        margin: 0;
        font-size:small ;
        height: rem;

    }
    body {
        font-size: small;
    }
    .day {
        font-size: small;
    }
    .short {
        margin-inline: 3rem;
        font-size: medium;
    }
    
}